#navbar a{
    text-decoration: none;
}

.row{
    height: 60px;
}

header{
    background-color: rgb(238, 233, 167);
    font-size: 18px;
}

.row a:hover{
    color: rgb(78, 22, 78);
}

.current{
    color: rgb(78, 22, 78);
    font-weight: bold;
}

.col12{
    height: 525px;
}

.clap{
    margin-bottom: 360px;
    text-align: center;
}

.burger{
    margin-right: 10px;
}

.burger1{
    margin-left: 10px;
    margin-right: 10px;
}

.burger2{
    margin-left: 10px;
}

.rich{
    text-align: center;
}