#navbar a{
    text-decoration: none;
}

#navbar{
    height: 75px;
}

.row{
    height: 60px;
}

header{
    background-color: rgb(238, 233, 167);
    font-size: 18px;
}

.container1{
    max-width: 1600px;
    margin: auto;
}

.row a:hover{
    color: rgb(78, 22, 78);
}

.current{
    color: rgb(78, 22, 78);
    font-weight: bold;
}

.col12{
    height: 525px;
}

.clap{
    margin-bottom: 360px;
    text-align: center;
}

.burger{
    margin-right: 10px;
}

.burger1{
    margin-left: 10px;
    margin-right: 10px;
}

.burger2{
    margin-left: 10px;
}

.rich{
    text-align: center;
}

.container2{
    max-width: 1584px;
    margin: auto;
}

.img{
    background-image: url(../img/restaurant\ img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 844px;
    background-attachment: fixed;
}

.h1s{
    padding-top: 300px;
    font-size: 80px;
    color: rgb(255, 0, 0);
}

.h2s{
    padding-top: 150px;
    color: rgb(255, 0, 0);
}

body {
    background-color: #000;
    }
h1 {
  color:#ffffff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.rainbow-btn {
    margin: 50px 485px;
    width: 300px;
    text-align: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    z-index: 2;
    overflow: hidden;
    /* padding: 8px; */
    height: 80px; 
}
.rainbow-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 50% 100%
}
.rainbow-btn span {
    position: relative;
    z-index: 2;
    padding: .875rem ;
    font-size: 0.8rem;
    text-decoration: none;
    align-items: center;
    background: transparent;
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.rainbow-btn:focus:before,
.rainbow-btn:hover:before {
    animation: rainbow-btn .75s linear infinite
}

@keyframes rainbow-btn {
    to {
        transform: translateX(-50%)
    }
}